<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskeroo Built In Website</title>
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />
</head>
<body class="terminal">
    <div class="container">
        <div class="terminal-nav">
            <div class="terminal-logo">
              <div class="logo terminal-prompt"><a href="#" class="no-style">Taskeroo</a></div>
            </div>
            <nav class="terminal-menu">
              <ul>
                <li><a class="menu-item" onclick="switchDate('yesterday')" id="yesterday-button">#Yesterday</a></li>
                <li><a class="menu-item active" onclick="switchDate('today')" id="today-button">#Today</a></li>
                <li><a class="menu-item" onclick="switchDate('tomorrow')" id="tomorrow-button">#Tomorrow</a></li>
                <button id="new-task-button" class="btn btn-primary" onclick="toggleNewTaskVisibility()">New Task</button>
              </ul>
            </nav>
        </div>
    </div>

    <div class="container" id="tasks">
        <form id="new-task-form">
            <fieldset>
                <legend>Create new Task</legend>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" type="text" placeholder="Name of your task">
                </div>
                <div class="form-group">
                    <label for="desc">Description:</label>
                    <textarea id="desc" cols="30" rows="5" placeholder="Description of your task"></textarea>
                </div>
                <div class="form-group">
                    <label for="check">Personal:</label>
                    <input for="check" type="checkbox" id="check">
                </div>
                <button class="btn btn-primary">Create</button>
            </fieldset>
            <br>
            <br>
            <br>
            <br>
            <br>
        </form>
        <div id="loading-text">
            <br>
            <br>
            <br>
            <br>
            <span><center>Loading tasks..</center></span>
            <br>
            <br>
            <br>
            <br>
        </div>
        <br>
    </div>
    
</body>
</html>


<script>
var newTaskVisibility = true;
var taskList = [];
hideNewTask()

async function fetchDataAsync(url) {
    var taskContainer = document.getElementById("tasks");
    for(var task of taskList) {
        task.remove();
    } 
    showLoadingText();
    const response = await fetch(url)
    .then((response) => response.json())
    .then((data) => {
        hideLoadingText();
        for (var task of data.tasks) {
            console.log(task.name);

            var terminalCardDiv = document.createElement("div");
            terminalCardDiv.classList.add("terminal-card")

            var header = document.createElement("header");
            header.appendChild(document.createTextNode(task.name))

            var innerDiv = document.createElement("div");
            innerDiv.appendChild(document.createTextNode(task.description))

            terminalCardDiv.appendChild(header);
            terminalCardDiv.appendChild(innerDiv);

            var br = document.createElement("br") 
            var element = document.getElementById("tasks");
            element.appendChild(terminalCardDiv);
            element.appendChild(br);
            taskList.push(terminalCardDiv);
            taskList.push(br);
            
        }
    });
}
var selectedDate = getCurrentDate();

function switchDate(newDate) {
    var yesterdayButton = document.getElementById("yesterday-button");
    var todayButton = document.getElementById("today-button");
    var tomorrowButton = document.getElementById("tomorrow-button");

    switch(newDate) {
        case "today":
            selectedDate = getCurrentDate();
            yesterdayButton.classList.remove("active");
            todayButton.classList.add("active");
            tomorrowButton.classList.remove("active");
            break;
        case "tomorrow":
            selectedDate = getTomorrowDate();
            yesterdayButton.classList.remove("active");
            todayButton.classList.remove("active");
            tomorrowButton.classList.add("active");  
            break;          
        case "yesterday":
            selectedDate = getYesterdayDate();
            yesterdayButton.classList.add("active");            
            todayButton.classList.remove("active");            
            tomorrowButton.classList.remove("active"); 
            break;           
        default:
            selectedDate = getCurrentDate();
    }
    fetchDataAsync('http://localhost:7370/api/?token=whenyouseeit');
}


function matchesDate(task, date) {
    if(selectedDate == task.date) {
        return true;
    } else {
        return false;
    }
}

function getCurrentDate() {
    var date = new Date(Date.now());
    let yyyy = date.getFullYear();
    let mm = date.getMonth()+1;
    let dd = date.getDate();
    return yyyy +"-" +mm +"-" +dd;
}

function getYesterdayDate() {
    var date = new Date(Date.now())
    date.setDate(date.getDate()-1);
    let yyyy = date.getFullYear();
    let mm = date.getMonth()+1;
    let dd = date.getDate();
    return yyyy +"-" +mm +"-" +dd;
}

function getTomorrowDate() {
    var date = new Date(Date.now())
    date.setDate(date.getDate()+1);
    let yyyy = date.getFullYear();
    let mm = date.getMonth()+1;
    let dd = date.getDate();
    return yyyy +"-" +mm +"-" +dd;
}

function toggleNewTaskVisibility() {
    switch(newTaskVisibility) {
        case true:
            hideNewTask();
            break;
        case false:
            viewNewTask();
            break;
    }
}


function hideLoadingText() {
    var loadingTextDiv = document.getElementById("loading-text");
    loadingTextDiv.style.display = "none" 
}

function showLoadingText() {
    var loadingTextDiv = document.getElementById("loading-text");
    loadingTextDiv.style.display = "block" 
}



function viewNewTask() {
    var newTaskButton = document.getElementById("new-task-button");
    var newTaskForm = document.getElementById("new-task-form");

    newTaskButton.classList.remove("btn-primary")
    newTaskButton.classList.add("btn-error")
    newTaskButton.classList.add("btn-ghost")
    newTaskButton.innerHTML = "Cancel"

    newTaskForm.style.display = "block"
    newTaskVisibility = true
}

function hideNewTask() {
    var newTaskButton = document.getElementById("new-task-button");
    var newTaskForm = document.getElementById("new-task-form");

    newTaskButton.classList.add("btn-primary")
    newTaskButton.classList.remove("btn-error")
    newTaskButton.classList.remove("btn-ghost")
    newTaskButton.innerHTML = "New Task"

    newTaskForm.style.display = "none"
    newTaskVisibility = false;
}


fetchDataAsync('http://localhost:7370/api/?token=whenyouseeit');
</script>

<style>
    :root {
	--global-font-size: 15px;
	--global-line-height: 1.4em;
	--global-space: 10px;
	--font-stack: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
	--mono-font-stack: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
	--background-color: #0d0d0d;
	--page-width: 60em;
	--font-color: #ececec;
	--invert-font-color: #000;
	--primary-color: #e01a9c;
	--secondary-color: #a3a6a8;
	--error-color: #d20909;
	--progress-bar-background: #70b8e7;
	--progress-bar-fill: #151515;
	--code-bg-color: #262626;
	--input-style: solid;
	--display-h1-decoration: none;
}
</style>